############################################################

@local = https://localhost:6999

############################################################


{{#components}}
############################################################
#region {{{name}}}.http
{{{http}}}
#endregion

{{/components}}

